extends layout

block content
  .section
    include navbar.pug

  .section-about
    h1 Darlene Nava Muñoz, Full Spectrum Doula
    p.text Darlene Nava Muñoz is a full spectrum doula trained by established doula collectives and encapsulation trainings in the Bay area. Darlene has encapsulated a dozen placentas, the first half of them under direct supervision. La Placenta is a holistic healing service provider that is dedicated to be spiritually aligned and intentional while working with the energy of your placenta.

    img( class='profile-pic' src='./images/profile.jpg' alt='profilepicture')

  .section
    include footer.pug
