extends layout

block content
  .section
    include navbar.pug

  .section-about
    h1 Darlene Nava Muñoz
    p.text Darlene Nava Muñoz is of Mexican heritage. She is a full spectrum doula trained by experienced midwifes, doula collectives and encapsulator in the Bay area. Darlene has encapsulated dozens of placentas, the first half of them under supervision. Placentric is a holistic healing service provider that is dedicated to be spiritually aligned and intentional while working with the energy of your placenta.
    img( class='profile-pic' src='./images/profile.jpg' alt='profilepicture')

  .section
    include footer.pug
