extends layout

block content

  .section
    include navbar.pug
  .section-form
    iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSdHRMrcjiWaE30lBsXnZcB1iE7owfxbJbMBUQfKMa4hInvc2Q/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" Loading...)
