.footer
  p Made By Shaka Lee

  .section-facebook
    a(class='facebook-link' href='https://facebook.com/placentric')
      img(class='facebook-icon' src='./images/facebookicon.png' alt='facebook icon')
