doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cambay|Emilys+Candy|Love+Ya+Like+A+Sister|Niconne|Short+Stack|The+Girl+Next+Door" rel="stylesheet")
  body
  #header.section
    img(class='logo' src='./images/logo.png' alt='logo')
    h1.header La Placenta
    br
    h3 Placenta Encapsulation Services
    include navbar.pug
  .section
  .section
    include footer.pug
