extends layout

block content
  #header.section
    img(class='logo' src='./images/logo.png' alt='logo')
    h1.header= title
  .section
    p.sub-header Placenta Encapsulation Services by Doula Darlene Nava Muñoz
  .section
    include navbar.pug
  .section
    img(class='cover-pic' src='./images/cover.png')
  .section
    include footer.pug
