doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(href="https://fonts.googleapis.com/css?family=Lato|Petit+Formal+Script" rel="stylesheet")
  body
  #header.section
    h1.header La Placenta
    br
    h3 Placenta Encapsulation Services
    include navbar.pug
  .section
  .section
    include footer.pug
