doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Cambay|Emilys+Candy|Love+Ya+Like+A+Sister|Niconne|Short+Stack|The+Girl+Next+Door" rel="stylesheet")
  body
    block content
