doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Cambay|Emilys+Candy|Love+Ya+Like+A+Sister|Niconne|Short+Stack|The+Girl+Next+Door|Ruda|Lato" rel="stylesheet")
  body
    script(src="/javascripts/script.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/javascripts/client.js")
    block content
