extends layout

block content

  .section
    include navbar.pug

  .section-quote
    a(href='https://www.instagram.com/p/BQJXkmkgZ1c/')
      img(src='./images/product1.png' alt='mason jar with placenta')

  .section
    include footer.pug
