extends layout

block content

  .section
    include navbar.pug

  .section-quote
    a(href='https://www.instagram.com/p/BQJXkmkgZ1c/')
      img(src='./images/product1.png' alt='mason jar with placenta')
  .section-quote
    a(href='https://www.instagram.com/gladysrivera88/')
      img(src='./images/client-instagram.png' alt='mason jar with placenta')
    p(class='section-quote-text') "After the birth of my beautiful baby girl my doula recommended that we save my placenta so that we can have someone make placenta pills. She made a few phone calls and was able to get in contact with La Placenta Encapsulation Services. Darlene arrived at the hospital within one hour after the birth to pick up my placenta. After a couple days she arrived at my house with placenta pills, placenta broth, placenta prints, cord keepsake and tincture. Since I was pretty new to this she took the time to go over everything with me. She explained the benefits of taking the pills and the history behind them. Overall we are very pleased with everything. I'm so in love with my prints!! Thank you Darlene!!" - @gladysrivera88

  .section
    include footer.pug
