#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      .modal-body
        img(class="coupon-image" src='../images/coupon.png')
        br
        .contact
          a(class="contact-link" href='/contact') Contact the Doula

