extends layout

block content

  .section
    include navbar.pug

  h1 $300 Placenta Encapsulation Services include:

  #loader

  #services.section
    h2(class="services-header") Placenta print
      img(class="services-icon" src='./images/placenta print round.png')
    p(class='services-text') Placenta is prepared with a natural vinegar and organic berry dye and printed on deluxe acid-free paper.

    h2(class="services-header") Placenta tincture
      img(class="services-icon" src='./images/tincture picture.png')
    p(class='services-text') A tincture of your placenta is preserved in a glass container for 6 weeks. After shaking container every day for 6 weeks, strain the liquid from solid using the cheesecloth provided, keeping only the liquid. The benefits of the medecine in the placenta tincture are preserved for a lifetime and can be helpful during symptoms of menopause, trauma, transition, emotional stress or decreased energy.

    h2(class="services-header") Placenta capsules
      img(class="services-icon" src='./images/placenta capsules.png')
    p(class='services-text') Consume the most of them earlier in the postpartum healing process until finished. Recommended 6-9 capsules a day for the first week, lowering the amount per day thereafter.

    h2(class="services-header") Placenta broth
      img(class="services-icon" src='./images/placenta broth.png')
    p(class='services-text') Collected from the placenta steam process with heat activating herbs  such as ginger and turmeric. To be seasoned and consumed to your liking.

    h2(class="services-header") Umbilical Cord Charm
      img(class="services-icon" src='./images/umbilical icon.png')
    p(class='services-text') Specially shaped and dehydrated. The umbilical chord can have many uses such as a keepsake or for teething as hormones preserved in the chord make a healthy pacifier.

  .section
    include footer.pug
