extends layout

block content

  .section
    include navbar.pug
    
  h1 Placenta Encapsulation Services include:

  .section
    h2 Placenta print
    p(class='services-text')
      Placenta is prepared with natural vinegar and berry dye and placed on deluxe acid-free paper.

    h2 Placenta tincture
    p(class='services-text')
      Piece of placenta is stored in a glass container for 6 weeks. After shaking container every day for 6 weeks I will strain liquid from solid using the cheesecloth provided, keeping only the liquid. Tincture benefits last even through menopause and can be used for symptoms of trauma, transition, emotional stress or decreased energy.

    h2 Placenta capsules
    p(class='services-text')
      Consume the most of them earlier in the postpartum healing process until finished. Recommended 6-9 capsules a day for the first week, lowering the amount per day thereafter.

    h2 Placenta broth
    p(class='services-text')
      Collected from the placenta steam process with heat activating herbs  such as ginger and turmeric. To be seasoned and consumed to your liking.

    h2 Umbilical Cord Charm
    p(class='services-text') Specially shaped and dehydrated.


  .section
    h2 What is Placenta Encapsulation?

    p(class='services-text')  Placentophagy is for natural nutritional supplementation and is intended soley for the ingestion by the person who has birthed the placenta. The purpose is to reintroduce the beneficial vitamins, minerals, hormones, proteins, iron and nutrients to the body following labor and birth. Studies show restoring these important nutrients provides a quicker healing process for a more balanced body function, prevent or decrease postpartum depression, increase breast-milk production, increase energy levels and overall wellbeing.

    p(class='services-text')  Placenta encapsulation services is not a pharmacy, pharmaceutical representative, holistic practitioner, herbalist, or medical doctor. Services and fees are for the preparation and encapsulation of placenta. No specific benefits or effects are promised and will vary per person. The benefits of placenta consumption are supported by ongoing research but have not been evaluated by the Food and Drug Administration.
