doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/splash.css')
    link(href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet")
  body
    .wrapper
      h1 - La Placenta -
      a(class='enter-button' href='/home') Enter
