html {
  background: url('../images/cover.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.header {
  font-family: 'Petit Formal Script';
  opacity: .5;
  font-size: 56px;
  margin: 0 auto;
  text-align: left;
}

h1 {
   color: black;
   font-size: 4em;
   font-weight: bold;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.section {
  height: 500px;
}

#services {
  display: none;
}

#header {
  position: relative;
  padding-left: 40px;
}

.facebook-icon {
  text-align: right;
  width: 100px;
  height: 100px;
}

.sub-header {
  font-size: 24px;
  margin: 10px auto;
  text-align: left;
}

.footer {
  font-size: 16px;
  margin: 0 auto;
  text-align: left;
  padding-left: 40px;
}

ul {
  font-size: 32px;
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: #7e7e7e
}

a:hover {
  font-weight: bold;
}

a:visted {
  text-decoration: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
