html {
  background: url('../images/cover.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.header {
  font-family: 'Petit Formal Script';
  opacity: .5;
  font-size: 56px;
  margin: 0 auto;
  text-align: left;
}

h1 {
   color: black;
   font-size: 4em;
   font-weight: bold;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.section {
  height: 500px;
}

#header {
  position: relative;
  padding-left: 40px;
}

.facebook-icon {
  text-align: right;
  width: 100px;
  height: 100px;
}

.sub-header {
  font-size: 24px;
  margin: 10px auto;
  text-align: left;
}

.footer {
  font-size: 16px;
  margin: 0 auto;
  text-align: left;
  padding-left: 40px;
}

ul {
  font-size: 32px;
  list-style: none;
  -webkit-padding-start: 0;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: #7e7e7e
}

a:hover {
  font-weight: bold;
}

a:visted {
  text-decoration: none;
}
