body {
  padding: 50px;
  color: #7e7e7e;
  font-family: 'Lato';
}

.enter-button {
  border: 2px white solid;
}

.header {
  font-size: 56px;
  margin: 0 auto;
  text-align: center;
}

.services-text {
  font-size: 16px;
}

.services-icon {
  width: 70px;
  height: 70px;
}

#shown {
  display: block;
}

#hidden {
  display: none;
}

.section-form {
  text-align: center;
}

.section-facebook {
  display: block;
  margin: 0 auto;
}

.facebook-icon {
  width: 10%;
  height: 10%;
}

.section-quote {
  margin: 50px auto;
  padding: 25px;
  text-align: center;
  width: 400px;
  height: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.section-quote img {
  width: 300px;
  height: auto
}

.section-quote:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.section-quote-text {
  font-size: 12px;

}

#header {
  position: relative;
}

.facebook-link {
  text-align: center;
}

.profile-pic {
  width: 200px;
  height: auto;
}

.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 27%;
  z-index: 100;
}

.sub-header {
  font-size: 24px;
  margin: 10px auto;
  text-align: center;
}

.footer {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

.section-about {
  text-align: left;
  margin: 0 auto;
}

.section-about p {
  margin: 30px;
  line-height: 30px;
}

.services-link {
  text-decoration: underline;
}

.section-about-pictures {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.section-about-pictures img {
  width: auto;
  height: 200px;
}

.section-about-text {
  display: flex;
}

ul {
  font-size: 32px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: #7e7e7e
}

a:hover {
  font-weight: bold;
}

a:visted {
  text-decoration: none;
}
